body { margin: 0; overflow: auto; }
body, html, .container, .menu, .content { height: 100%; }
.container {
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
}
.menu {
  overflow: hidden;
  position: fixed;
  width: 228px;
  padding: 0 17px;
  border: 1px solid #000;
  display: flex;
  display: -webkit-flex;
  flex-flow: column nowrap;
}
.menu-bar {
  align-self: center;
}
.profile {
  display: flex;
  display: -webkit-flex;
  flex-flow: column nowrap;
  padding-top: 90px;
}

.profile-item {
  align-self: center;
}
.avatar-wrap {
  width: 64px;
  height: 64px;
  border: 1px solid #000;
  border-radius: 1.5px;
}
.content {
  padding-left: 265px;
  display: flex;
  display: -webkit-flex;
  flex-flow: column nowrap;
  overflow: auto;
  width: 100%;
  margin-left: -1px;
}

.content-header {
  height: 56px;
  border: 1px solid #000;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}

.login-notice {
  margin: 8px 0;
  margin-left: auto;
  align-self: center;
}

.github-login {
  border-radius: 1.5;
  border: 1px solid #666;
  margin: 8px 0;
  width: 85px;
  margin-right: 8px;
  margin-left: 15px;
}

.content-body {
  height: 100%;
  margin-top: 15px;
  border: 1px solid #000;
}

.article-preview {
  display: flex;
  display: -webkit-flex;
  flex-flow: column nowrap;
  padding-top: 25px;
}

.article-title {
  max-height: 35px;
  height: 35px;
}

.title {
  margin: 0 0;
  margin-left: 5px;
}

.article-short-content {
  height: 150px;
  padding-top: 5px;
  border: 1px solid #000;
}
